{% extends 'base.html.twig' %}

{% block title %}Hello CountriesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Liste des villes</h1>

    <ul>
    {% for city in cities %}
        <li><a href="{{ path( 'id_city', {id: city.id} ) }}">{{city.id}} - {{city.name}}</a></li>        
    </ul>
    {% endfor %} 
</div>
{% endblock %}
