* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: red;
}
li {
  list-style: none;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
}

table {
  border: 1px solid blue;
  text-align: center;
}

table tr:nth-child(even) {
  background-color: rgb(207, 240, 241);
}

table caption {
  font-size: 30px;
  margin-top: 50px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
  font-size: 22px;
  padding: 20px;
}
.link_intro {
  color: rgb(91, 19, 185);
}

footer {
  border-top: 1px solid black;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}
footer a {
  font-weight: bold;
}
